<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="margin: 10%; margin-top: 10%;">
 
    	<div class="card">
  			<img th:src="'file:///C:/Users/nilso/Pictures/frontCatalogos/1.PNG' + ${sub.foto}+'.png'" class="card-img-top" th:alt="${sub.nombre}">
  			<div class="card-body">
    			<h5 class="card-title" th:text="${sub.nombre}"></h5>
  			</div>
  			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">descripcion</th>
			      <th scope="col">peso</th>
			      <th scope="col">precio</th>
			    </tr>
			  </thead>
			  <tbody>
			   <th:block th:each="produc : ${pro}"> 
				    <tr>
				      <th scope="row" th:text="${produc.nombre}"></th>
				      <td th:text="${produc.descripcion}"></td>
				      <td th:text="${produc.peso}"></td>
				      <td th:text="${produc.precio}"></td>
				    </tr>
				</th:block>
			  </tbody>
			</table>
		</div>
		<br>
    
</body>
</html>