<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="margin: 10%; margin-top: 10%;">

	<div class="container">
    	<div class="row">
    	<th:block th:each="cat : ${categorias}"> 
    		<div class="col" style="margin-bottom: 5%;">		
    			<div class="card" style="width: 20rem;">
  					<img th:src="'file:///C:/Users/nilso/Pictures/frontCatalogos/1.PNG' + ${cat.foto}+'.png'" class="card-img-top" th:alt="${cat.nombre}">
  					<div class="card-body">
    					<h5 class="card-title" th:text="${cat.nombre}"></h5>
    					<a th:href="'../categoria?name='+${cat.categoriaPadre}" class="btn btn-primary">categorias</a>
  					</div>
				</div>
			</div>
    	</th:block>
  		</div>
	</div>
    
</body>
</html>